.headerContainer {
  height: 70px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
}
.headerContainer .logo {
  height: 50px;
  width: auto;
  display: block;
  cursor: pointer;
}
.headerContent {
  width: 75%;
  margin: 0auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .logoContainer {
  display: flex;
  align-items: center;
} */
.headerContent ul {
  display: flex;
  gap: 50px;
  /* font-weight: 600; */
}
.myPage {
  display: flex;
  align-items: center;
  gap: 10px;
  /* font-weight: 600; */
}
.myPage img,
.myPage span {
  cursor: pointer;
}
.loginBtn {
  background-color: var(--color-electric-blue);
  border: none;
  color: var(--color-pure-white);
  width: fit-content;
  padding: 10px 18px;
  border-radius: var(--border-radius-10);
  cursor: pointer;
}

.myPage span:hover {
  opacity: 0.88;
}
.profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}
